// Specific CSS for your home-page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, .nav-link {
  color: $text-color !important;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
}

.navbar-title:hover {
  color: $primary-color !important;
}

/* stroke */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: $primary-color;
}

nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: $primary-color;
  height: 1.5px;
}
nav.stroke ul li a:hover:after, nav.stroke ul li a:active:after {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding: 8px 16px !important;
  }
}

.jumbotron {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('<%= cl_image_path working_2.jpg %>');
  background-position: 10% 40%;
  background-size: cover;
  padding: 5rem 4rem;
}

.container-big {
  width: 100%;
  max-width: 940px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.services-text {
  max-width: 500px;
  margin: 10px auto;
}

#background-green {
  width: 100%;
  height: 500px;
  background-color: rgba(81, 157, 160, .3);
  position: absolute;
  z-index: -1000;
  left: 0;
  top: 1290px;
}

.fab {
  color: white;
}
