<footer>
  <div id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4 class="text-white">Notre mission</h4>
          <p class="text-white">Nous apportons une approche scientifique au marketing digital.
          Ecris-nous aujourd'hui pour voir comment nous pouvons t'aider à obtenir
          plus avec moins.</p>
        </div>
        <div class="col-md-4">
          <h4 class="text-white">Liens</h4>
          <div class="row">
            <a href="#"><i class="fab fa-facebook-square fa-2x mx-3"></i></a>
            <a target="_blank" href="https://fr.linkedin.com/in/ombeline-durey-aab0abaa?trk=public_profile_similar-profiles_profile-result-card_result-card_full-click"><i class="fab fa-linkedin fa-2x mx-3"></i></a>
            <a href="#"><i class="fab fa-twitter-square fa-2x mx-3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-copyright">
    <div class="d-flex justify-content-center">
      <p>© 2020 Copyright: www.ombelinedurey.com</p>
    </div>
  </div>
</footer>
