<footer>
  <div id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h4 class="text-white">Notre mission</h4>
          <p class="text-white">Nous apportons une approche scientifique au marketing digital.
          Ecris-nous aujourd'hui pour voir comment nous pouvons t'aider à obtenir
          plus avec moins.</p>
        </div>
        <div class="col-4">
          <h4 class="text-white">Liens</h4>
          <div class="row">
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Linkedin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-copyright">
    <div class="d-flex justify-content-center">
      <p>© 2020 Copyright: www.ombelinedurey.com</p>
    </div>
  </div>
</footer>
