<div class="jumbotron">
  <div class="container">
    <h1 class="text-white">Digital Marketing</h1>
    <p class="lead mb-5 text-white">Augmenter votre chiffre d'affaire de 100% !</p>
    <a class="btn btn-green" href="#" role="button">Contacter</a>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Ce que vous y gagnez</h2>
  <hr style="width: 70%;" class="mx-auto">
  <p class="text-center">
    Une connaissance pointue des dernières tendances du marketing
    <br>digital et des outils d'automatisation.
  </p>
</div>
