<div class="jumbotron">
  <div class="container">
    <h1 class="text-white">Digital Marketing</h1>
    <p class="lead mb-5 text-white">Augmenter votre chiffre d'affaire de 100% !</p>
    <a class="btn btn-green" href="#" role="button">Contacter</a>
  </div>
</div>

<div class="container">
  <section>
    <h2 class="text-center">Ce que vous y gagnez</h2>
    <hr style="width: 70%;" class="mx-auto">
    <p class="text-center">
      Une connaissance pointue des dernières tendances du marketing
      <br>digital et des outils d'automatisation.
    </p>
  </section>

  <section class="row row-cols-1 row-cols-xl-3">
    <div class="col">
      <div class="card-flip mx-auto">
        <div class="card-flip-logo text-center">
          <%= cl_image_tag("analyse_wyafu9.svg") %>
        </div>
        <div class="card-flip-title text-center">
          <h5>Analyse du marché</h5>
        </div>
        <div class="card-flip-text text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-flip mx-auto">
        <div class="card-flip-logo text-center">
          <%= cl_image_tag("mail_d4czc8.svg") %>
        </div>
        <div class="card-flip-title text-center">
          <h5>Campagne de publicité</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-flip mx-auto">
        <div class="card-flip-logo text-center">
          <%= cl_image_tag("progress_a22fjx.svg") %>
        </div>
        <div class="card-flip-title text-center">
          <h5>Augmenter votre CA</h5>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-center mt-5">Nos services</h2>
    <hr style="width: 70%;" class="mx-auto">
  </section>
</div>
