.card-flip {
  height: 300px;
  width: 345px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background: white;
  margin: 10px;
  border-radius: 8px;
  transition: .6s ease;
}

.card-flip:hover {
  background-color: $primary-color;
}

.card-flip:hover > .card-flip-logo {
  display: none;
}

.card-flip:hover > .card-flip-text {
  display: block;
}

.card-flip-logo img {
  max-height: 180px;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 25px;
}

.card-flip-title {
  min-height: 80px;
  width: 100%;
  -webkit-animation: move 2s;
}

.card-flip-text {
  display: none;
  max-height: 180px;
  max-width: 100%;
}

@-webkit-keyframes move{
    0%{height:0px}
    50%{height:100px}
    100%{height:200px}
}

.card-services {
  height: 300px;
  width: 345px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background: white;
  margin: 10px;
  border-radius: 8px;
}

.card-services-logo img {
  max-height: 180px;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 25px;
}

.card-services-title {
  min-height: 80px;
  width: 100%;
  -webkit-animation: move 2s;
}
